h2 {
  font-family: 'superfont';
  color: black;
}

.fix-box {
  position: fixed;
  top: 83px;
  right: 50px;
}

.img {
width : 500px;
height : 500px;
position: absolute;
margin-left: auto;
margin-right: auto;
margin :0;
transform: translate(+150%, +150%);
}

.image-show-kart {
  width: 30%
}

.price {
  font-family: 'superfont';
  font-size: 25px;

}

// .card {
//   background-image: url(image_tag @kart.image;

// }
