
  <div class="container">

    <div class="d-flex">
      <div class="d-flex justify-content-center">
        <%= image_tag @kart.image, class: "image-show-kart" %>
      </div>
      <div class="flat-show-card">

        <h2>Book my new Kart 🤩 !</h2>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="01/01/2022" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="01/01/2022" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="mail-label" placeholder="example@mail.com">Email:</span>
            <input type="text" class="form-control" placeholder="example@mail.com"
          </div>
          <div>
            <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label"> Your message</span>
            <input type="text" class="form-control" placeholder="Hello, can i book...">
          </div>
          <%# <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%"> %>
          <%= link_to "book", kart_bookings_path(@kart)  %>
        </form>
      </div>
      <div class="flat-show-card">
        <h3>Details</h5>
        <div class="flex">
          <div class="flex">
            <%= @kart.special_skills %>
          </div>
          <div class="flex ms-3">
            <%= @kart.price %>€
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
