.navbar-lewagon {
  // justify-content: space-between;
  background-image: url(https://cutewallpaper.org/21/mario-kart-background/GalleryMario-Kart-8-Deluxe-Super-Mario-Wiki-the-Mario-.jpg);
  color: white;
  margin: 0px
}

.shroom {
  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: 20px;
}
.nav-link:hover {
  color: rgb(124, 113, 113);
}





.search-form-control {
  position: relative;
  width: 290px;
  margin-right: 10px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 25px;
  padding: 0 15px;

}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  height: 43px;
  border-radius: 25px;


}

.search-form-control .form-control:focus {
  border: 1px solid #525353;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

// . {
//   color: red($color: #ff0000);
// }
